body {
	background-color: rgb(198, 252, 252);
}

.navbar {
	margin-bottom: 25px;
}

#articleDiv img {
	float: left;
	margin-right: 15px;
}

#articleDiv {
	background-color: rgb(242, 255, 255);
	float: left;
	margin-bottom: 25px;
	margin-left: 25px;
	overflow: auto;
}

#porfolioDiv img {
	padding: 20px;
}

#portfolioDiv {
	background-color: rgb(242, 255, 255);
	float: left;
	margin-bottom: 25px;
	margin-left: 25px;
	overflow: auto;
}

#navigationDiv img {
	width: 50px;
	height: 50px;
}

#navigationDiv {
	background-color: rgb(242, 255, 255);
	padding: 20px;

}

#footer {
	background-color: rgb(242, 255, 255);
	text-align: center;
	padding: 20px;
}

/* mobile version < or = 450px */
@media only screen and (max-width: 450px) {
	body {
	background-color: rgb(198, 252, 252);
}

.navbar {
	margin-bottom: 25px;
}

#articleDiv img {
	float: left;
	margin-right: 10px;
}

#articleDiv {
	background-color: rgb(242, 255, 255);
	float: left;
	margin-bottom: 25px;
	padding: 10px;
	margin-left: 15px;
}

#navigationDiv img {
	width: 50px;
	height: 50px;
}

#navigationDiv {
	background-color: rgb(242, 255, 255);
	clear: left;
}

#footer {
	background-color: rgb(242, 255, 255);
	text-align: center;
	padding: 20px;
}
}